<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongoe.ecy.exam.mapper.QuestionMapper">

    <!--    获取分页数据-->
    <select id="getQuestionByPage" resultType="com.yongoe.ecy.exam.entity.Question">
        select *
        from e_question
        <where>
            <if test="null != question.id">
                and id = #{question.id}
            </if>
            <if test="null != question.questionBankId">
                and question_bank_id = #{question.questionBankId}
            </if>
            <if test="null != question.content and ''!=question.content">
                and content LIKE CONCAT('%',#{question.content  },'%')
            </if>
            <if test="null != question.type and ''!=question.type">
                and type LIKE CONCAT('%',#{question.type  },'%')
            </if>
            <if test="null != question.level and ''!=question.level">
                and level LIKE CONCAT('%',#{question.level  },'%')
            </if>
            <if test="null != question.answer and ''!=question.answer">
                and answer LIKE CONCAT('%',#{question.answer  },'%')
            </if>
            <if test="null != question.createTime">
                and create_time = #{question.createTime}
            </if>
            <if test="null != question.updateTime">
                and update_time = #{question.updateTime}
            </if>
            <if test="null != question.createBy and ''!=question.createBy">
                and create_by LIKE CONCAT('%',#{question.createBy  },'%')
            </if>
            <if test="null != question.updateBy and ''!=question.updateBy">
                and update_by LIKE CONCAT('%',#{question.updateBy  },'%')
            </if>
        </where>
    </select>

    <select id="randomQuestion" resultType="java.lang.Long">
        SELECT `id`
        FROM `e_question`
        WHERE question_bank_id = #{bankId}
          AND TYPE = #{type}
        ORDER BY RAND() LIMIT #{num};
    </select>

</mapper>